<h1>New Trip!</h1>

<%= form_for(@bus_trip) do |f| %>
    <%= f.label :trip_start_time %>
    <%= f.datetime_select :trip_start_time, :ampm => true, :minute_step => 15 %>

    <%= f.label :trip_end_time %>
    <%= f.datetime_select :trip_end_time, :ampm => true, :minute_step => 15 %>

    <%= f.label :start_location %>
    <%= f.text_field :start_location %>

    <%= f.label :end_location %>
    <%= f.text_field :end_location %>

    <%= f.submit %>

<% end %>